<html>
    <head>
        <title>Store Administrator</title>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <link href="stylesheets/style.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <script src="javascripts/java.js"></script>
    </head>
    
    <body ng-app="purchases" ng-controller="MainCtrl">
        <div class="webBody">
            <h1 class="titleStyle main">Store Management Interface</h1>
            <form ng-submit="addItem()">
                Product Name: <input type="text" ng-model="form_Name"></input><br>
                Price: <input type="text" ng-model="formPrice"></input><br>
                Picture URL: <input type="text" ng-model="formURL"></input>
                <button type="submit">Add Product</button>
            </form>
            
            <h1 class="titleStyle">Current Products</h1>
            <div ng-repeat="item in items | orderBy:'Name'">
                <span class ="glyphicon glyphicon-remove" ng-click="delete(item)"><button style=</span>
                {{item.Name}} - price {{item.Price}} - ordered {{item.orders}} <img class="itemPicture" src="{{item.URL}}"/>
            </div>
        </div>
        
        
    </body>
</html>